page-info-produto {

}

.items-info{
  color: #5AD2E3;
  background-color: white;
}

.lista{
  width: 100%;
  background-color: white;
}
.background-info{
  background-color: white;
}

.label-info{
  color: black;
}




.edit{
  color: #fff;
  background-color: #5AD2E3;
  border-radius: 20px;
  height: 5%;
  width: 100%;
}
