page-cadastro-produtos {

}

title-cadastro{
  background-color:  #5AD2E3;
  color: white;
}
.lista{
    background-color: #353535;
}

.formulario-produtos{
    background-color: white;
    color: #5AD2E3;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 90%;
    transform: translateY(-50%) translateX(-50%);
}

.itens-produtos{
    background-color: white;
    color: #5AD2E3;
}
.background-produtos{
  background-color: white;
  color: #5AD2E3;
}

.cadastro{
    width: 95%;
    height: 25px;
    left: 5%;
    color: Black;
    background-color:  #5AD2E3;
    border-radius: 10px;
}
