page-home {

}

.background-home{
    background-color:  #5AD2E3;
}

*::-webkit-input-placeholder {
  color: #fff !important;
}
*:-moz-placeholder {
  color: #fff !important;
}
*:-ms-input-placeholder { /* IE10+ */
  color: #fff !important;
}

.formulario{
    background-color:#5AD2E3;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 90%;
    transform: translateY(-50%) translateX(-50%);
    border-radius: 10px;
  }
  .item{
    background-color:#5AD2E3;
    color: black;
  }


.logon{
    //width: 100%;
    background-color: white;
    height: 25px;
    color: #5AD2E3;
    border-radius: 20px;
    width: 95%;
    //height: 25px;
    left: 5%;
}

.register{
    width: 95%;
    height: 25px;
    left: 5%;
    color: white;
    background-color: #5AD2E3;
    border-color: white;
    border-width: thin;
    border-style: solid;
    border-radius: 20px;
}
