page-lista {

}
.title{
    background-color:  #5AD2E3;
    color: white;

}
.navbar{
  background-color: #5AD2E3;
  color: white;

}

.lista{
    background-color: #5AD2E3;
}

.buttons{
    background-color: #5AD2E3;
    color: #fff;

}
