page-lista {

}
.title{
    background-color: #488aff;
    color: #ffffff;
}
.bg{
    background-color: #353535;
}
.lista{
    background-color: #353535;
}
.buttons{
    background-color: #353535;
    color: #ffffff;

}
