page-lista {

}




.background-lista{
  background-color: white;
}
.title{
    background-color:  #5AD2E3;
    color: white;

}
.navbar{
  background-color: #5AD2E3;
  color: white;

}

.lista{
    background-color: #5AD2E3;
}

.items-lista{
    background-color: #fff;
    color: #000;

}
